<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>GPS</title>
<script type="text/javascript" src="http://www.google.com/jsapi?key=abcdefg"></script>
<script type="text/javascript" charset="utf-8">
    google.load("maps", "2.x");
    google.load("jquery", "1.3.1");
</script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
	    var map = new GMap2(document.getElementById('map'));
	    var kuiv = new GLatLng(50.4511102241713,30.522465705871582);
	    map.setCenter(kuiv, 11);
		<% @red_stations.each do |station| %>
			var point_<%= station.id %> = new GLatLng(<%= station.lat %>,
		        <%= station.lng %>);
		    marker_<%= station.id %> = new GMarker(point_<%= station.id %>);
		    map.addOverlay(marker_<%= station.id %>);	
		<% end %>
		<% @green_stations.each do |station| %>
			var point_<%= station.id %> = new GLatLng(<%= station.lat %>,
		        <%= station.lng %>);
		    marker_<%= station.id %> = new GMarker(point_<%= station.id %>);
		    map.addOverlay(marker_<%= station.id %>);	
		<% end %>
		<% @blue_stations.each do |station| %>
			var point_<%= station.id %> = new GLatLng(<%= station.lat %>,
		        <%= station.lng %>);
		    marker_<%= station.id %> = new GMarker(point_<%= station.id %>);
		    map.addOverlay(marker_<%= station.id %>);	
		<% end %>
	});
</script>

<style media="screen" type="text/css">
    #map { width:500px; height:500px; }
</style>

<div>
  <h1>Расстояние между станциями</h1>
  <h2>Краснная ветка</h2>
	<% @red_stations.each do |stations| %>
		<% if stations.next_station %>
			<p><%= stations.name %> - <%= stations.next_station.name %> - <%= distance(stations.distance_to_next) %></p>	
		<% end %>
	<% end %>

  <h2>Зеленая ветка</h2>
	<% @green_stations.each do |stations| %>
		<% if stations.next_station %>
			<p><%= stations.name %> - <%= stations.next_station.name %> - <%= distance(stations.distance_to_next) %></p>	
		<% end %>
	<% end %>

  <h2>Синияя ветка</h2>
	<% @blue_stations.each do |stations| %>
		<% if stations.next_station %>
			<p><%= stations.name %> - <%= stations.next_station.name %> - <%= distance(stations.distance_to_next) %></p>	
		<% end %>
	<% end %>
</div>

</head>

<body>
  <div id="map"></div>
</body>
</html>
